<form method="post" action="/<%= @filename %>/duplicate">
    <label for="newfilename">Enter a name for you copy (Note that the name must be unique)</label>
    <div>
      <input name="newfilename" value="<%= @filename %>" id="newfilename">
      <button type="submit">Create</button>
    </div>
</form>
