<form action="/lists/:id" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the new name for your list</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/:index">Cancel</a>
  </fieldset>
</form>
